{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
    <div class="jumbo" style="background-image:url({% static 'website/student.jpg' %}); height: 450px; background-position-y:-150px;">

    </div>
    <div class="section">
        <div class="content-block-small">
            {% placeholder 'about' %}
        </div>
    </div>
    <hr>
    <div class="section">
        <div class="content-block-small">
            <h1>Meet the Team</h1>
            <div class="team">
                {% placeholder 'team' %}
            </div>
        </div>
    </div>
{% endblock %}