{% extends 'base.html' %}
{% load staticfiles cms_tags %}
{% block main %}
    <div>
        {% placeholder 'feature' %}
    </div>
    <div class="section">
        <div class="content-block-medium">
            {% placeholder 'services' %}
        </div>
    </div>
    <div class="section section-divider">
        <h2>Interested in learning more? Please send us an email.</h2>
        <a class='button' href="mailto:melissa@altatutoring.com?Subject=Tutoring Inquiry">Contact Us</a>
    </div>
    <div class="section">
        <div class="content-block-medium">
            {% placeholder 'testimonials' %}
        </div>
    </div>
    <hr>
    <div class="section">
        <div class="content-block-medium">
            {% placeholder 'contact' %}
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('.testimonials').slick({
                'arrows': false,
                'autoplay': true
            });
        });
    </script>
{% endblock %}